<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
          <h1><%= title %></h1>
          <br>
           <form class="form" method="POST">
                <div class="form-group">
                    <lable for="nameTextField"> Book Title</lable>
                    <input type="text" class="form-control" 
                    id="nameTextField"
                    placeholder="Enter the Book Title"
                    name="name" required>
                </div>
                    

                <div class="form-group">
                    <lable for="authorTextField"> Author</lable>
                    <input type="text" class="form-control" 
                    id="authorTextField"
                    placeholder="Enter the Author name"
                    name="author" required>
                </div>

                <div class="form-group">
                    <lable for="publishedTextField"> Year</lable>
                    <input type="text" class="form-control" 
                    id="publishedTextField"
                    placeholder="Enter the Year of publication"
                    name="published" required>
                </div>

                
                <div class="form-group">
                    <lable for="descriptionTextArea"> Description</lable>
                    <textarea type="text" class="form-control" 
                    id="descriptionTextArea"
                    placeholder="Enter a brief Description of the book"
                    name="description" required></textarea>
                </div>

                <div class="form-group">
                    <lable for="priceTextField"> Price</lable>
                    <input type="number" class="form-control" 
                    id="priceTextField"
                    placeholder="Enter the Book's price"
                    name="price" required>
                </div>

                <!-- ADD YOU CODE TO CREATE THE ADD PAGE -->
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i>Submit</button>

                    <a href="/book-list" class="btn btn-warning"><i class="fas fa-undo"></i>Cancle</a>
           </form>
        </div>

    </div>
</div>




<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>